---
layout: default
---

<div class="container">
  <div class="filter">
    <input type="radio" id="tag-0" class="filter-tag" name="filter-radio" hidden checked>
    <input type="radio" id="tag-1" class="filter-tag" name="filter-radio" hidden>
    <input type="radio" id="tag-2" class="filter-tag" name="filter-radio" hidden>
    <input type="radio" id="tag-3" class="filter-tag" name="filter-radio" hidden>

    <div class="filter-nav container">
      <div class="columns">
        <div class="column col-10 col-sm-12 col-mx-auto">
          <label class="chip c-hand" for="tag-0">Todos</label>
          <label class="chip c-hand" for="tag-1">Básico</label>
          <label class="chip c-hand" for="tag-2">Intermediário</label>
          <label class="chip c-hand" for="tag-3">Avançado</label>
          <label class="chip c-hand" for="tag-4">dbpedia</label>
        </div>
      </div>
    </div>

    <div class="filter-body columns">
      {% for query in site.data.beginner.sparql %}
      <div class="filter-item column col-10 col-sm-12 col-mx-auto mb-2" data-tag="tag-1">
        <div class="card ">
          <div class="card-header">
            <div class="card-title h5" id="{{ query.title | url_encode }}"><a href="#{{ query.title | url_encode }}">{{ query.title }}</a></div>
            <div class="card-subtitle">
              <strong>Endpoint:</strong> <a href="{{ query.endpoint }}" target="_blank" rel="noopener">{{ query.endpoint }}</a>
            </div>
          </div>
          <div class="card-body">
            <pre class="code" data-lang="SPARQL"><code>{{ query.query | escape }}</code></pre>
            <a href="http://yasgui.org/#query={{ query.query | url_encode |url_param_escape }}&contentTypeConstruct=text%2Fturtle&contentTypeSelect=application%2Fsparql-results%2Bjson&endpoint={{ query.endpoint | url_encode | url_param_escape }}&requestMethod=POST&tabTitle=Query&headers=%7B%7D&outputFormat=table" target="_blank" rel="noopener" role="button" class="btn btn-success" aria-label="Testar consulta Sparql">Testar</a>
          </div>
          <div class="card-footer">
            <p><strong>Objetivo:</strong> {{ query.goal }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% for query in site.data.intermediate.sparql %}
      <div class="filter-item column col-10 col-sm-12 col-mx-auto mb-2" data-tag="tag-2">
        <div class="card ">
          <div class="card-header">
            <div class="card-title h5" id="{{ query.title | url_encode }}"><a href="#{{ query.title | url_encode }}">{{ query.title }}</a></div>
            <div class="card-subtitle">
              <strong>Endpoint:</strong> <a href="{{ query.endpoint }}" target="_blank" rel="noopener">{{ query.endpoint }}</a>
            </div>
          </div>
          <div class="card-body">
            <pre class="code" data-lang="SPARQL"><code>{{ query.query | escape }}</code></pre>
            <a href="http://yasgui.org/#query={{ query.query | url_encode |url_param_escape }}&contentTypeConstruct=text%2Fturtle&contentTypeSelect=application%2Fsparql-results%2Bjson&endpoint={{ query.endpoint | url_encode | url_param_escape }}&requestMethod=POST&tabTitle=Query&headers=%7B%7D&outputFormat=table" target="_blank" rel="noopener" role="button" class="btn btn-success" aria-label="Testar consulta Sparql">Testar</a>
          </div>
          <div class="card-footer">
            <p><strong>Objetivo:</strong> {{ query.goal }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% for query in site.data.advanced.sparql %}
      <div class="filter-item column col-10 col-sm-12 col-mx-auto mb-2" data-tag="tag-3">
        <div class="card ">
          <div class="card-header">
            <div class="card-title h5" id="{{ query.title | url_encode }}"><a href="#{{ query.title | url_encode }}">{{ query.title }}</a></div>
            <div class="card-subtitle">
              <strong>Endpoint:</strong> <a href="{{ query.endpoint }}" target="_blank" rel="noopener">{{ query.endpoint }}</a>
            </div>
          </div>
          <div class="card-body">
            <pre class="code" data-lang="SPARQL"><code>{{ query.query | escape }}</code></pre>
            <a href="http://yasgui.org/#query={{ query.query | url_encode |url_param_escape }}&contentTypeConstruct=text%2Fturtle&contentTypeSelect=application%2Fsparql-results%2Bjson&endpoint={{ query.endpoint | url_encode | url_param_escape }}&requestMethod=POST&tabTitle=Query&headers=%7B%7D&outputFormat=table" target="_blank" rel="noopener" role="button" class="btn btn-success" aria-label="Testar consulta Sparql">Testar</a>
          </div>
          <div class="card-footer">
            <p><strong>Objetivo:</strong> {{ query.goal }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
       {% for query in site.data.advanced.sparql %}
      <div class="filter-item column col-10 col-sm-12 col-mx-auto mb-2" data-tag="tag-4">
        <div class="card ">
          <div class="card-header">
            <div class="card-title h5" id="{{ query.title | url_encode }}"><a href="#{{ query.title | url_encode }}">{{ query.title }}</a></div>
            <div class="card-subtitle">
              <strong>Endpoint:</strong> <a href="{{ query.endpoint }}" target="_blank" rel="noopener">{{ query.endpoint }}</a>
            </div>
          </div>
          <div class="card-body">
            <pre class="code" data-lang="SPARQL"><code>{{ query.query | escape }}</code></pre>
            <a href="http://yasgui.org/#query={{ query.query | url_encode |url_param_escape }}&contentTypeConstruct=text%2Fturtle&contentTypeSelect=application%2Fsparql-results%2Bjson&endpoint={{ query.endpoint | url_encode | url_param_escape }}&requestMethod=POST&tabTitle=Query&headers=%7B%7D&outputFormat=table" target="_blank" rel="noopener" role="button" class="btn btn-success" aria-label="Testar consulta Sparql">Testar</a>
          </div>
          <div class="card-footer">
            <p><strong>Objetivo:</strong> {{ query.goal }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<a href="#top" role="button" class="btn btn-primary circle" aria-label="Topo da página" style="position: fixed; bottom: 20px; right: 20px;">
    <i class="icon icon-arrow-up"></i>
</a>
